<html>
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>{% block title %}Título{% endblock %}</title>
   {% load static %}
   <link rel="icon" type="image/x-icon" href="{% static 'favicon.png' %}">
   <link   rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
   <style type="text/css"> {% include "styles.css" %} </style>
   <script type="text/javascript"> {% include "codes.js" %} </script>
</head>
<body>
   {% include "header.html" %}
   {% include "navbar.html" %}

   {% block content %}
      Contenido
   {% endblock %}

   {% include "footer.html" %}
</body>
</html>