<div class="navbar">
  <ul>
    <li><a href="/inicio"  >Inicio      </a></li>
    <li><a href="/noticias">Noticias    </a></li>
    <li class="dropdown2">
      <a href="javascript:void(0)" class="dropbtn">Catálogos</a>
      <div class="dropdown-content">
        <a href="/estado"             >Estado</a>
        <a href="/version"            >Versión</a>
        <a href="/orden"              >Orden</a>
        <a href="/proceso"            >Proceso</a>
        <a href="/palabra"            >Palabra</a>
        <a href="/palabra/Crear"      >Palabra Crear</a>
        <a href="/palabra/Crear/Verbo">Palabra Crear/Verbo</a>
      </div>
    </li>
    <li class="dropdown2">
      <a href="javascript:void(0)" class="dropbtn">API</a>
      <div class="dropdown-content">
        <a href="/api/estado"             >Estado</a>
        <a href="/api/version"            >Version</a>
        <a href="/api/orden"              >Orden</a>
        <a href="/api/proceso"            >Proceso</a>
        <a href="/api/palabra"            >Palabra</a>
        <a href="/api/palabra/Crear"      >Palabra Crear</a>
        <a href="/api/palabra/Crear/Verbo">Palabra Crear/Verbo</a>
      </div>
    </li>
    <li><a href="/acercade">Acerca de...</a></li>
    <li><a href="/admin" style="position:absolute;float:right;right:15px;">Administración</a></li>
  </ul>
</div>