{% extends "main.html" %}
{% block title %}{{titulo}}{% endblock %}
{% block content %}
<center>
   <h1>{{titulo}}</h1>
   <h1>Patrocinadores Oficiales</h1>
   <table width="60%">
      <tr>
         <td align="center">
            <img src="/media/static/fli.png" alt="Fli">
         </td>
         <td align="center">
            <img src="/media/static/fli1.png" alt="Fli">
         </td>
         <td align="center">
            <img src="/media/static/fliclassroom1.png" alt="FliClassroom">
         </td>
         <td align="center">
            <img src="/media/static/fliclassroom2.png" alt="FliClassroom">
         </td>
      </tr>
   </table>
   <br>
   <br>
   <br>
   <table width="60%">
      <tr>
         <td align="center">
            <img src="/media/static/fliclassroomO.png" alt="FliClassroom">
         </td>
         <td align="center">
            <img src="/media/static/fliclassroom0.png" alt="FliClassroom">
         </td>
      </tr>
   </table>
</center>
{% endblock %}